ctf/webapp/src/main/resources/META-INF/dtd/sf-api-protocols_1_0.dtd

<!--
@COPYRIGHT
SourceForge(r) Enterprise Edition
Copyright 2007 CollabNet, Inc. All rights reserved.
http://www.collab.net
COPYRIGHT@
-->

<!--
	This DTD must be placed at the following location:
		$CONFIG/dtd/sf-api-protocols_1_0.dtd
	Use the following DOCTYPE statement within an XML document conforming
	to this schema:
	<!DOCTYPE sf-api-protocols
		PUBLIC "-//VA Software, Inc.//DTD API Protocols 1.0//EN"
		"http://www.open.collab.net/sf/dtd/sf-api-protocols_1_0.dtd">
-->

<!ELEMENT  sf-api-protocols     (default-protocol, protocol*)>
<!ELEMENT  default-protocol     (#PCDATA)>
<!ELEMENT  protocol             (protocol-name, protocol-class, config-params?)>
<!ELEMENT  protocol-name        (#PCDATA)>
<!ELEMENT  protocol-class       (#PCDATA)>

<!ELEMENT  config-params	(param*)>
<!ELEMENT  param                (param-name, param-value)>
<!ELEMENT  param-name           (#PCDATA)>
<!ELEMENT  param-value          (#PCDATA)>
